{{ 'section-certifications.css' | asset_url | stylesheet_tag }}

<div class="certifications-container">
  {% if collection.metafields.custom.certifications != blank %}
    {% for cert in collection.metafields.custom.certifications.value %}
      <img
        src="{{ cert | image_url: width: 300 }}"
        loading="lazy"
      >
    {% endfor %}
  {% endif %}
</div>

{% schema %}
{
  "name": "Certifications",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Certifications",
      "blocks": []
    }
  ]
}
{% endschema %}
