{{ 'section-custom-collections.css' | asset_url | stylesheet_tag }}

<div class="custom-collection-container  color-{{ section.settings.color_scheme }}">
  <div class="custom-collection-wrapper">
    {% for block in section.blocks %}
      {% render block %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Custom collections",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme"
    }
  ],
  "blocks": [{ "type": "custom-collection-block" }],
  "max_blocks": 2,
  "presets": [
    {
      "name": "Custom collections",
      "blocks": [
        {
          "type": "custom-collection-block",
          "settings": {
            "collection": "meowgical-essentials"
          }
        },
        {
          "type": "custom-collection-block",
          "settings": {
            "collection": "taste-treats"
          }
        }
      ]
    }
  ]
}
{% endschema %}
