.custom-collection-container {
  width: 100%;
  justify-content: center;
  padding: 90px 0 110px 0;
  display: flex;
  flex-direction: row;
}

.custom-collection-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1660px;
  justify-content: center;
  padding: 0 5rem;
  gap: 4%;
}

.custom-collection-wrapper > * {
  flex: 1;
  width: 50%;
  flex-basis: auto;
}

@media (max-width: 768px) {
  .custom-collection-container {
    width: 100%;
    justify-content: center;
    padding: 40px 0 40px 0;
    display: flex;
    flex-direction: row;
  }

  .custom-collection-wrapper {
    flex-direction: column;
    padding: 0 2rem;
    gap: 3rem;
  }

  .custom-collection-wrapper > * {
    width: 100%;
    flex: none;
  }
}

.custom-collection-data {
  padding: 10px;
  text-align: center;
}

.custom-collection-image {
  width: 100%;
}

.custom-collection-image img {
  width: 100%;
  height: auto;
  display: block;
}

.custom-collection-data h3 {
  font-size: 2.8rem;
  text-align: center;
  margin: 0 0 14px 0;
}

.custom-collection-data p {
  text-align: center;
  margin: 0 0 15px 0;
  line-height: 1.5;
}

.custom-collection-data button {
  margin-top: 8px;
  display: inline-block;
}
