.article-template > *:first-child:not(.article-template__hero-container) {
  margin-top: 5rem;
}

@media screen and (min-width: 750px) {
  .article-template > *:first-child:not(.article-template__hero-container) {
    margin-top: calc(5rem + var(--page-width-margin));
  }
}

.article-template__hero-container {
  max-width: 130rem;
  margin: 0 auto;
}

.article-template__hero-small {
  height: 11rem;
}

.article-template__hero-medium {
  height: 22rem;
}

.article-template__hero-large {
  height: 33rem;
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .article-template__hero-small {
    height: 22rem;
  }

  .article-template__hero-medium {
    height: 44rem;
  }

  .article-template__hero-large {
    height: 66rem;
  }
}

@media screen and (min-width: 990px) {
  .article-template__hero-small {
    height: 27.5rem;
  }

  .article-template__hero-medium {
    height: 55rem;
  }

  .article-template__hero-large {
    height: 82.5rem;
  }
}

.article-template header {
  margin-top: 4.4rem;
  margin-bottom: 2rem;
  line-height: calc(0.8 / var(--font-body-scale));
}

@media screen and (min-width: 750px) {
  .article-template header {
    margin-top: 5rem;
  }
}

.article-header-wrapper {
  padding: 20px 0 0;
  margin: 20px 0 0;
}

@media screen and (min-width: 768px) {
  .article-header-wrapper {
    padding: 40px 0 0;
    margin: 40px 0 0;
  }
}

.article-template__title {
  font-size: 2.8rem;
  text-align: left;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .article-template__title {
    font-size: 4.8rem;
    width: 70%;
  }
}

.article-template__link {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.article-template__link .icon-wrap {
  display: flex;
  margin-right: 1rem;
  transform: rotate(180deg);
}

.article-template__content {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.article-template__social-sharing {
  margin-top: 3rem;
}

.article-template__social-sharing + header,
.article-template__social-sharing + .article-template__content {
  margin-top: 1.5rem;
}

.article-template__comment-wrapper {
  margin-top: 5rem;
  padding: 2.7rem 0;
}

@media screen and (min-width: 750px) {
  .article-template__comment-wrapper {
    margin-top: 6rem;
    padding: 3.6rem 0;
  }
}

.article-template__comment-wrapper h2 {
  margin-top: 0;
}

.article-template__comments {
  margin-bottom: 5rem;
}

@media screen and (min-width: 750px) {
  .article-template__comments {
    margin-bottom: 7rem;
  }
}

.article-template__comments-fields {
  margin-bottom: 4rem;
}

.article-template__comments-comment {
  color: rgba(var(--color-foreground), 0.75);
  background-color: rgb(var(--color-background));
  margin-bottom: 1.5rem;
  padding: 2rem 2rem 1.5rem;
}

@media screen and (min-width: 750px) {
  .article-template__comments-comment {
    padding: 2rem 2.5rem;
  }
}

.article-template__comments-comment p {
  margin: 0 0 1rem;
}

.article-template__comment-fields > * {
  margin-bottom: 3rem;
}

@media screen and (min-width: 750px) {
  .article-template__comment-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4rem;
  }
}

.article-template__comment-warning {
  margin: 2rem 0 2.5rem;
}

@media screen and (min-width: 990px) {
  .article-template__comments .pagination-wrapper {
    margin: 5rem 0 8rem;
  }
}

.article-template__back:last-child {
  margin-bottom: 3.2rem;
}

.article-wrapper {
  padding: 0 24px;
  margin: 0 0 30px;
}

@media screen and (min-width: 768px) {
  .article-wrapper {
    padding: 0;
    margin: 0 auto 110px;
    max-width: 1200px !important;
  }
}

.article-image {
  width: 100%;
  height: auto;
  aspect-ratio: 3/2;
  object-fit: cover;
}

.article-post-time {
  text-align: left;
  font-size: 1.4rem;
}

@media screen and (min-width: 768px) {
  .article-post-time {
    display: block;
    margin-bottom: 40px;
  }
}

.article-content-container {
  display: flex;
  flex-direction: row;
}

.article-content {
  flex: 1;
}

.article-body {
  width: 100%;
}

.blog-recent-articles {
  min-height: 1px;
  padding-left: 30px;
  vertical-align: top;
}

@media only screen and (min-width: 768px) {
  .blog-recent-articles {
    width: 25%;
    display: block;
  }
}

@media only screen and (max-width: 767px) {
  .blog-recent-articles {
    display: none;
  }
}

.blog-recent-articles h4 {
  font-size: 2rem;
  margin: 0 0 0.5em;
  line-height: 1.4;
}

.recent-article-container {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  margin-bottom: 4px;
}

.recent-article-container a {
  color: var(--primary-color);
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  transition: background-size 0.3s;
}

.recent-article-container a:hover,
.recent-article-container a:focus {
  background-size: 100% 1px;
}

.recent-article-container p {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 10px;
}

.article-share-container {
  padding: 30px 0 0;
  margin: 0;
}

.article-share-container p {
  font-weight: 600;
  font-size: 1.6rem;
  margin: 0;
}

.article-share-social-row {
  display: flex;
  flex-direction: row;
}

.article-share-social-row a {
  text-decoration: none;
  color: var(--primary-color);
  min-width: 44px;
  min-height: 44px;
  padding: 12px !important;
}

.article-share-social-row a:first-of-type {
  margin-left: -12px;
}

.article-divider {
  margin: 20px 0;
  border-top: 1px solid #cdcdcd;
  height: 1px;
  width: 100%;
  display: block;
}

.article-navigation-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.prev-article a,
.next-article a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  font-weight: 600;
  color: var(--primary-color);
}
