.about-us-container {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.about-us-container-responsive-image-wrapper {
  position: relative;
  display: inline-block;
  max-width: 2000px;
  width: 100%;
}

.about-us-container-responsive-image-wrapper img {
  width: 100%;
  height: auto;
  display: block;
  border: 0 none;
}

.about-us-content {
  background: transparent;
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  max-width: 40%;
}

.about-us-content h2 {
  font-size: 4.8rem;
  margin: 0;
  margin-bottom: 15px;
}

.about-us-content p {
  margin: 0;
  font-size: 1.6rem;
  line-height: 1.6;
}

.about-us-content .button {
  margin-top: 20px;
}

@media (max-width: 992px) {
  .about-us-content h2 {
    font-size: 2.8rem;
    margin: 0;
    margin-bottom: 15px;
  }
}

@media (max-width: 768px) {
  .about-us-container-responsive-image-wrapper {
    display: flex;
    flex-direction: column;
  }

  .about-us-container-responsive-image-wrapper img {
    height: 100vw;
    max-height: 768px;
    object-fit: cover;
    object-position: 80% 50% !important;
  }

  .about-us-content {
    position: static;
    transform: none;
    left: auto;
    top: auto;
    max-width: 100%;
    padding: 24px 24px 50px;
  }

  .about-us-content h2 {
    font-size: 2rem;
  }

  .about-us-content p {
    font-size: 1rem;
  }
}
